<!DOCTYPE html>
<html>
  <head>
    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <meta charset="utf-8">
    <meta name="name" content="My first Boogle web page">
    <meta name="keywords" content="Boogle">
    <meta name="author" content="Tomaž Jakša">

    <title>Boogle</title>

    <!-- ikona v zavihku-->
    <link rel="icon" href="http://icons.veryicon.com/ico/System/SEO/Organic%20Search.ico">

    <!-- CSS -->
    <link rel="stylesheet" href="../assets/css/boogleStyle.css" type="text/css">
  </head>

  <body>
    <div id="container">

      <div id="options">
        <ul>
            <li><a href="">Bmail</a></li>
            <li><a href="">Images</a></li>
            <li><img id="appIcon" title="Boogle Apps" src="http://www.myparcelonline.com/images/truck-feature/options.png" alt="Menu button"></li>
            <li class="login"><a class="login" href="login.html">Log in</a></li>
        </ul>
      </div>

      <div id="middle">
        <div class="logo-Container">
          <img class="logo" title="Boogle" src="https://booglebookclub.com/images/logo.png" alt="Boogle">
        </div>

        <div id="searchBox">
          <div id="inputField">
            <input type="text" placeholder="I'm searching for..." autofocus>
            <img class="helper" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e4/Keyboard-icon_Wikipedians.svg/147px-Keyboard-icon_Wikipedians.svg.png" alt="keyboard">
            <img class="helper" src="https://d30y9cdsu7xlg0.cloudfront.net/png/6083-200.png" alt="microphone">
          </div>
          <br/>
          <button>Boogle Search</button>
          <button>I'm feeling lucky!</button>
        </div>
      </div>

      <div id="footer">
        <div id="leftList">
          <ul>
            <li><a href="#">Advertisment</a></li>
            <li><a href="#">Bussiness</a></li>
            <li><a href="#">Presentations</a></li>
          </ul>
        </div>


        <div id="rightList">
          <ul>

            <li><a href="#">Conditions</a></li>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Settings</a></li>
          </ul>
        </div>
      </div>

    </div>
  </body>
</html>
